@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap");

*{
  box-sizing: border-box;
  padding: 5px;
}

.App {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  /* height: 100px; */
  width: 100%;
  margin: 0 auto 30px auto;
}

.SearchForm-wrapper{
  /* height: calc(100vh - 100px); */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}


.card{
  margin-bottom: 80px;
}
