@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap");

* {
  box-sizing: border-box;
  padding: 5px;
  font-family: "Roboto Condensed", sans-serif;
}

.card {
  margin-bottom: 80px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.mb {
  margin-bottom: 40px;
}
.mt {
  margin-top: 30px;
}

.loading {
  border: 5px solid grey;
  border-top: 5px solid yellow;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 50px auto;
  animation: rotate 1s ease-in-out infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
